extends layout 

block content 
  h1= title 
  if (toShow == null) 
    h2 No instance to update  
  else
  - let toolid = toShow._id 
  - let name = toShow.name
  - let version = toShow.version 
  - let cost  = toShow.cost 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{toolid} 
  - let actionid = "/resource/tool/"+toolid 
  form(id='ToolForm', action= actionid, method="PUT") 
    div.form-group 
        label.toolAttr(for='name') Tool Name
        input#name(type='text', name='name', value= name ) 
    div.form-group 
        label.toolAttr(for='version') Version
        input#version(type='text', name='version', value= version) 
    div.form-group 
        label.toolAttr(for='cost') Cost 
        input#cost(type='number', name='cost', value= cost ) 
    input(type="submit") 
 
  script. 
    document.forms['ToolForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
      body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 