body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.toolAttr { 
  background-color: aquamarine; 
  width: 120px; 
}
.toolDetailAttr{
  background-color:bisque; 
  width: 120px; 
}