body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}

.toolAttr { 
  background-color: aquamarine; 
  width: 120px; 
  border: 2px solid #000000;
}
.toolDetailAttr{
  background-color:bisque; 
  width: 120px; 
  border: 2px solid #000000;
}
.container{
  width: 250px;
  height: 200px;
}